@import "../../sass-lib/lib.scss";
@import "../../sass-lib/responsive.scss";

.identity {
  padding-bottom: 1.5rem;
}

.identity-home-page {
  font-size: 1.4rem;
}

img {
  margin-bottom: 0.875rem;
  width: 208px;
  height: 148.56px;
  border: solid 1px $tta-light-blue;
}

h3,
h4 {
  font-size: 1rem;
}

.profil {
  div {
    display: flex;
    align-items: center;

    .colon {
      font-weight: 600;
      color: $tta-blue;
      position: relative;
      padding: 0 0.1rem;
    }
  }
}

.avis {
  .colon {
    top: -1px;
  }

  .stars {
    border: none;
    margin: 0;
    height: 17px;
    width: 93.36px;
    position: relative;
    top: 1px;
    left: 2px;
  }
}

.specialite {
  .colon {
    top: -1px;
  }

  p {
    height: 19.19px;
    padding-bottom: 23px;
    position: relative;
    top: -1px;
    left: 2px;
  }
}

.localisation {
  display: flex;

  h4 {
    align-self: flex-start;
  }

  .colon {
    top: -3px;
    align-self: flex-start;
  }

  address {
    margin: 0;
    position: relative;
    top: -2px;
    left: 1px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media #{$tablet-up} {
  .artisan {
    width: 90%;
  }

  .picture-artisan {
    width: 100%;
    height: inherit;
  }

  .profil {
    width: 100%;

    .avis {
      .colon {
        top: -1px;
      }
    }

    .specialite {
      .colon {
        top: -1px;
      }
    }
  }
}

@media #{$laptop-up} {
  .artisan {
    width: 90%;
  }

  .picture-artisan {
    width: 100%;
    height: inherit;
  }

  .profil {
    width: 100%;
  }
}
