<footer>
  <div class="footer-top">
    <img src="" alt="Logo du site Trouve ton artisan en blanc" />
    <p>
      Conseil régional<br />
      Auvergne-Rhône-Alpes
    </p>
  </div>
  <div class="footer-main">
    <section class="localisation">
      <h2>Lyon</h2>
      <img src="" alt="Motif d'un pointeur blanc" />
      <address>
        101 cours Charlemagne<br />
        CS 20033<br />
        69269 LYON CEDEX 02<br />
        France<br />
      </address>
      <p>Ouvert de 8h15 à 17h du lundi au vendredi</p>
    </section>
    <div class="info-tel">
      <img src="" alt="Motif d'un téléphone blanc" />
      <address><a href="tel:33426734000">+33 (0)4 26 73 40 00</a></address>
    </div>
  </div>
  <div class="separator"></div>
  <div class="footer-bottom">
    <nav>
      <ul>
        <li>Mentions légales</li>
        <li>Données personnelles</li>
        <li>Accessibilité : partiellement conforme</li>
        <li>Presse</li>
        <li>Marchés publics</li>
        <li>Venir à la région</li>
        <li>Contacts</li>
      </ul>
    </nav>
    <span class="cookies">Gestion des cookies</span>
  </div>
</footer>
