<div class="search-input-container">
  <div class="form-magnifying-glass-container">
    <div class="form-container">
      <form action="" class="search-input-form">
        <input type="text" class="search-input" placeholder="Rechercher" />
      </form>
    </div>
    <div class="magnifying-glass-container">
      <div class="magnifying-glass-border">
        <img
          src="assets/images/loupe-bleu.png"
          alt="motif d'une loupe bleue"
          class="magnifying-glass"
        />
      </div>
    </div>
  </div>
</div>
