<footer>
  <div class="footer-container">
    <div class="footer-top">
      <img
        src="assets/images/logo-blanc.png"
        alt="Logo du site Trouve ton artisan en blanc"
        class="logo-white"
      />
      <p>
        Conseil régional<br />
        Auvergne-Rhône-Alpes
      </p>
    </div>
    <div class="footer-main">
      <section class="localisation">
        <h2>Lyon</h2>
        <div class="pointeur-container">
          <img
            src="assets/images/pointeur.png"
            alt="Motif d'un pointeur blanc"
          />
        </div>
        <address class="p-0 m-0">
          101 cours Charlemagne<br />
          CS 20033<br />
          69269 LYON CEDEX 02<br />
          France<br />
          <p>Ouvert de 8h15 à 17h du lundi au vendredi</p>
        </address>
      </section>
      <div class="info-tel p-0">
        <div class="img-tel-container">
          <img
            src="assets/images/telephone.png"
            alt="Motif d'un téléphone blanc"
          />
        </div>
        <address>
          <a href="tel:33426734000">+33 (0)4 26 73 40 00</a>
          <p>De 8h30 à 17h du lundi au vendredi</p>
        </address>
      </div>
    </div>
    <div class="footer-bottom">
      <nav>
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Données personnelles</a></li>
          <li><a href="#">Accessibilité : partiellement conforme</a></li>
          <li><a href="#">Presse</a></li>
          <li><a href="#">Marchés publics</a></li>
          <li><a href="#">Venir à la région</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <div class="cookies-container">
        <nav class="full-h">
          <ul class="full-h p-0 m-0">
            <li class="p-0">
              <button type="button" class="btn-cookies">
                Gestion des cookies
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="social-media-container">
        <div class="logo-container">
          <div class="facebook-container">
            <img
              src="assets/images/logo-facebook.png"
              alt="Logo de Facebook"
              class="facebook-img"
            />
          </div>
          <div class="linkedin-container">
            <img
              src="assets/images/logo-linkedin.png"
              alt="Logo de Linkedin"
              class="linkedin-img"
            />
          </div>
          <div class="youtube-container">
            <img
              src="assets/images/logo-youtube.png"
              alt="Logo de Youtube"
              class="youtube-img"
            />
          </div>
          <div class="instagram-container">
            <img
              src="assets/images/logo-instagram.png"
              alt="Logo d'Instagram"
              class="instagram-img"
            />
          </div>
          <div class="x-container">
            <img src="assets/images/logo-x.png" alt="Logo de X" class="x-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
