<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="logo-icons-container">
        <div class="logo-container">
          <a class="navbar-brand" href="#"
            ><img
              src="assets/images/logo-cropped.png"
              alt="Logo du site Trouve ton artisan"
              class="logo"
          /></a>
        </div>
        <div class="right-icons">
          <div class="magnifying-glass-container">
            <button (click)="searchToggler()" class="magnifying-glass-button">
              <img
                src="assets/images/loupe-bleu.png"
                alt="loupe bleu"
                class="magnifying-glass"
              />
            </button>
          </div>
          <div class="navbar-toggler-container">
            <button
              (click)="navbarToggler()"
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <div class="toggler-icon-container">
                <span class="toggler-icon"></span>
                <span class="action-text">Menu</span>
              </div>
              <span class="blue-cross-icon"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Bâtiment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fabrication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alimentation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-search-input id="app-search-input" />
</header>

<!--
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
-->
