@import '../../sass-lib/lib.scss';

header {
    height: 72px;
    background-color: #fff;
    box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .0793474);

    #app-search-input {
        display: none;
    }

    .navbar {
        padding: 0;
        height: 72px;
        --bs-navbar-toggler-border-color: none;
        --bs-navbar-toggler-border-radius: 0;

        .container-fluid {
            padding: .5rem 1.5rem 0 1.5rem;
    
            .logo-icons-container {
                display: flex;
                align-items: center;
                width: 100%;
        
                .logo-container {
                    width: 50%;
            
                    .logo {
                        width: 163px;
                    }
                }
                
                .right-icons {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 50%;

                    .magnifying-glass-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 .5rem .25rem;
                        border: none;
                        background: none;

                        &:focus {
                            outline-color: #0074c7;
                            outline-style: dotted;
                            outline-width: thin;
                            box-shadow: none;
                        }

                        &:active {
                            background-color: rgba(0, 116, 199, 0.3);
                        }

                        .magnifying-glass {
                            width: 32px;
                        }
                    }
                    
                    .navbar-toggler-container {
                        width: 51.97px;
                        height: 62.8px;
    
                        .navbar-toggler {
                            @extend .full-wh;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: .5rem;
                            cursor: pointer;

                            &:focus {
                                outline-color: #0074c7;
                                outline-style: dotted;
                                outline-width: thin;
                                box-shadow: none;
                            }
    
                            &:active {
                                background-color: rgba(0, 116, 199, 0.3);
                            }
                            
                            .toggler-icon-container {
                                display: block;
                                
                                .toggler-icon {
                                    display: inline-block;
                                    width: 24px;
                                    height: 24px;
                                    vertical-align: middle;
                                    background-image: url('../../../../public/assets/images/bouton-menu-burger.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 100%;
                                }
            
                                .action-text {
                                    font-size: .8rem;
                                    margin-top: .25rem;
                                }
                            }

                            .blue-cross-icon {
                                display: none;
                                width: 24px;
                                height: 24px;
                                vertical-align: middle;
                                background-image: url('../../../../public/assets/images/croix-bleue.png');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
        
        
}
