<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="content-container">
        <div class="logo-icons-container">
          <div class="logo-container">
            <a class="navbar-brand" routerLink="">
              <img
                src="assets/images/logo-cropped.png"
                alt="Logo du site Trouve ton artisan"
                class="logo"
              />
            </a>
          </div>
          <app-right-icons
            [isMenuOpen]="isMenuOpen"
            (toggleMenu)="toggleMenu()"
            (closeMenu)="closeMenu()"
            id="app-right-icons"
          ></app-right-icons>
        </div>
      </div>
      <div class="collapse navbar-collapse" [ngClass]="{ show: isMenuOpen }">
        <app-menu-burger (closeMenu)="closeMenu()"></app-menu-burger>
      </div>
    </div>
  </nav>
  <app-search-input id="app-search-input"></app-search-input>
</header>
