<main>
  <app-breadcrumb />
  <div class="green-line"></div>
  <h1>Les artisans de la région</h1>
  <ul class="liste-artisans p-0">
    <app-artisan
      class="col-md-6 col-lg-4"
      *ngFor="let artisan of filteredArtisans"
      [artisanId]="artisan.id"
      [identity]="artisan.identity"
      [pictureArtisan]="artisan.pictureArtisan"
      [altArtisan]="artisan.altArtisan"
      [pictureStars]="artisan.pictureStars"
      [altStars]="artisan.altStars"
      [speciality]="artisan.speciality"
      [location]="artisan.location"
    ></app-artisan>
  </ul>
</main>
