@import '../../sass-lib/lib.scss';

main {
    padding: 1.875rem 1.5rem 0 1.5rem;
}

.green-line {
    width: 2rem;
    height: .33rem;
    background-color: $tta-green;
    margin: 0 0 1.5rem 0;
}

h1 {
    padding-bottom: 3rem;
}

h2 {
    padding-bottom: 1.5rem;
}

p {
    margin: 0;
}

.liste-artisans {
    list-style-type: none;
    display: grid;

    img {
        margin-bottom: 0.875rem;
        border: solid 1px $tta-light-blue;
    }

    h3 {
        font-size: 1rem;
    }

    .avis {
        display: flex;
        justify-content: space-between;
        width: 34%;

        .stars {
            border: none;
            margin: 0;
            height: 17px;
            position: relative;
            top: 2px;
        }
    }

    .specialite {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .localisation {
        display: flex;
        justify-content: space-between;
    }

    address {
        margin: 0;
    }

    .artisan-1 {
        .specialite {
            width: 39.5%;

            p {
                position: relative;
                top: 1px;
            }
        }

        .localisation {
            width: 92%;

            h3 {
                width: 35%;
            }
        }
    }

    .artisan-2 {
        .specialite {
            width: 38%;
        }

        .localisation {
            width: 86%;

            h3 {
                width: 35%;
            }

            address {
                position: relative;
                top: -1px;
            }
        }
    }

    .artisan-3 {
        .specialite {
            width: 43.5%;
        }

        .localisation {
            width: 92%;

            h3 {
                width: 40.5%;
            }

            address {
                position: relative;
                top: -1px;
            }
        }
    }

    .artisan-4 {
        .specialite {
            width: 43.5%;
        }

        .localisation {
            width: 92%;

            h3 {
                width: 33.5%;
            }

            address {
                position: relative;
                top: -1px;
            }
        }
    }
}