@import "../../sass-lib/lib.scss";
@import "../../sass-lib/responsive.scss";

main {
  padding: 1.875rem 1.875rem 4rem 1.875rem;
}

.green-line {
  width: 2rem;
  height: 0.33rem;
  background-color: $tta-green;
  margin: 0 0 1.5rem 0;
}

h1 {
  padding-bottom: 3rem;
}

.liste-artisans {
  list-style-type: none;
  display: grid;
}

@media #{$tablet-up} {
  .liste-artisans {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4rem;
  }
}

@media #{$desktop-up} {
  main {
    width: 1160px;
    margin: 0 auto;
  }
}
