<main>
  <app-breadcrumb />
  <div class="green-line"></div>
  <h1>Les artisans de la région</h1>
  <ul class="liste-artisans p-0">
    <li class="artisan-1">
      <h2>John Doe</h2>
      <a routerLink="fiche-artisan">
        <img src="assets/images/image-artisan-1.png" alt="artisan qui sourit" />
      </a>
      <div class="profil">
        <div class="avis">
          <h3>Avis :</h3>
          <img
            src="assets/images/etoiles-jaunes.png"
            alt="5 étoiles jaunes"
            class="stars"
          />
        </div>
        <div class="specialite">
          <h3>Spécialité :</h3>
          <p>Bâtiment</p>
        </div>
        <div class="localisation">
          <h3>Localisation :</h3>
          <address>23 Rue Carnot, Décines-Charpieu, 69150</address>
        </div>
      </div>
    </li>
    <li class="artisan-2">
      <h2>Jeanne Delion</h2>
      <a routerLink="fiche-artisan">
        <img
          src="assets/images/image-artisan-2.png"
          alt="artisane qui sourit"
        />
      </a>
      <div class="profil">
        <div class="avis">
          <h3>Avis :</h3>
          <img
            src="assets/images/etoiles-jaunes.png"
            alt="5 étoiles jaunes"
            class="stars"
          />
        </div>
        <div class="specialite">
          <h3>Spécialité :</h3>
          <p>Services</p>
        </div>
        <div class="localisation">
          <h3>Localisation :</h3>
          <address>19 Rue de la Corderie, Lyon, 69009</address>
        </div>
      </div>
    </li>
    <li class="artisan-3">
      <h2>Paul Dupont</h2>
      <a routerLink="fiche-artisan">
        <img src="assets/images/image-artisan-3.png" alt="artisan qui sourit" />
      </a>
      <div class="profil">
        <div class="avis">
          <h3>Avis :</h3>
          <img
            src="assets/images/etoiles-jaunes.png"
            alt="5 étoiles jaunes"
            class="stars"
          />
        </div>
        <div class="specialite">
          <h3>Spécialité :</h3>
          <p>Fabrication</p>
        </div>
        <div class="localisation">
          <h3>Localisation :</h3>
          <address>31 Boulevard Pasteur, Clermont-Ferrand, 63000</address>
        </div>
      </div>
    </li>
    <li class="artisan-4">
      <h2>Claire Dupuis</h2>
      <a routerLink="fiche-artisan">
        <img
          src="assets/images/image-artisan-4.png"
          alt="artisane qui sourit"
        />
      </a>
      <div class="profil">
        <div class="avis">
          <h3>Avis :</h3>
          <img
            src="assets/images/etoiles-jaunes.png"
            alt="5 étoiles jaunes"
            class="stars"
          />
        </div>
        <div class="specialite">
          <h3>Spécialité :</h3>
          <p>Fabrication</p>
        </div>
        <div class="localisation">
          <h3>Localisation :</h3>
          <address>11 Route de Chevennes, Annecy, 74960</address>
        </div>
      </div>
    </li>
  </ul>
</main>
