@import "../../sass-lib/lib.scss";
@import "../../sass-lib/responsive.scss";

main {
  padding: 4rem 1.875rem 4rem 1.875rem;
}

.guide-trouver-artisan {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

app-step {
  display: flex;
  flex-direction: column;
}

h2 {
  padding-bottom: 1.5rem;
  width: 100%;
}

.blue-line {
  width: 2rem;
  height: 0.33rem;
  background-color: $tta-light-blue;
  margin: 3rem 0 1.5rem 0;
}

p {
  padding-bottom: 1.5rem;
}

.red-line {
  width: 2rem;
  height: 0.33rem;
  background-color: $tta-red;
  margin: 0rem 0 1.5rem 0;
}

.artisans {
  list-style-type: none;
}

@media #{$mobile-max} {
  .artisans {
    display: grid;
  }
}

@media #{$tablet-up} {
  h2 {
    padding-bottom: 3rem;
  }
  .artisans {
    display: flex;
    gap: 0 !important;
  }
}

@media #{$desktop-up} {
  main {
    width: 1160px;
    margin: 0 auto;
  }
}
