<main>
  <h1>Découvrez les artisans de votre région</h1>
  <div class="blue-line"></div>
  <section class="guide-trouver-artisan">
    <h2>Comment trouver mon artisan ?</h2>
    <app-step
      class="col-md-6 col-lg-3"
      *ngFor="let step of steps"
      [stepTitle]="step.stepTitle"
      [srcImg]="step.srcImg"
      [altImg]="step.altImg"
      [stepSubTitle]="step.stepSubtitle"
      [description]="step.description"
    ></app-step>
  </section>
  <section class="podium">
    <div class="red-line"></div>
    <h2>Les trois artisans du mois</h2>
    <ul class="artisans p-0 gap-5">
      <app-artisan
        class="col-md-4"
        *ngFor="let artisan of selectedArtisans"
        [artisanId]="artisan.id"
        [identity]="artisan.identity"
        [pictureArtisan]="artisan.pictureArtisan"
        [altArtisan]="artisan.altArtisan"
        [pictureStars]="artisan.pictureStars"
        [altStars]="artisan.altStars"
        [speciality]="artisan.speciality"
        [location]="artisan.location"
        [maps]="artisan.maps"
      ></app-artisan>
    </ul>
  </section>
</main>
