<ul class="menu navbar-nav">
  <li class="batiment">
    <a
      routerLink="/liste-artisans/Bâtiment"
      class="nav-link"
      (click)="onLinkClick()"
      >Bâtiment</a
    >
  </li>
  <li class="services">
    <a
      routerLink="/liste-artisans/Services"
      class="nav-link"
      (click)="onLinkClick()"
      >Services</a
    >
  </li>
  <li class="fabrication">
    <a
      routerLink="/liste-artisans/Fabrication"
      class="nav-link"
      (click)="onLinkClick()"
      >Fabrication</a
    >
  </li>
  <li class="alimentation">
    <a
      routerLink="/liste-artisans/Alimentation"
      class="nav-link"
      (click)="onLinkClick()"
      >Alimentation</a
    >
  </li>
</ul>
