$tta-white: #f1f8fc;
$tta-light-blue: #0074c7;
$tta-blue: #00497c;
$tta-dark-blue: #384050;
$tta-red: #cd2c2e;
$tta-green: #82b864;
$tta-transparent-green: rgba(130, 184, 100, 0.2);

.full-wh {
  width: 100%;
  height: 100%;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.btn-effect {
  &:focus {
    outline-color: #0074c7;
    outline-style: dotted !important;
    outline-width: thin;
    box-shadow: none;
  }

  &:active {
    background-color: rgba(0, 116, 199, 0.3);
  }
}

.bg-white-active {
  &:active {
    background-color: #fff !important;
  }
}

.address-a-hover-underline {
  address {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
