@import './sass-lib/lib.scss';
@import './sass-lib/responsive.scss';

@media #{$laptop-max} {
    app-header {
        display: block;
    }
    
    app-header-2 {
        display: none;
    }

    app-header-3 {
        display: none;
    }
}

@media #{$laptop-up} {
    app-header {
        display: none;
    }

    app-header-2 {
        display: block;
    }

    app-header-3 {
        display: none;
    }
}

@media #{$desktop-max} {
    app-header-1 {
        display: none;
    }

    app-header-2 {
        display: block;
    }

    app-header-3 {
        display: none;
    }
}

@media #{$desktop-up} {
    app-header-1 {
        display: none;
    }
    
    app-header-2 {
        display: none;
    }

    app-header-3 {
        display: block;
    }
}