<div class="right-icons full-h">
  <div class="magnifying-glass-container">
    <button
      (click)="searchToggler()"
      class="magnifying-glass-button full-wh btn-effect bg-white-active p-0"
    >
      <img
        src="assets/images/loupe-bleue.png"
        alt="loupe bleue"
        class="magnifying-glass"
      />
    </button>
  </div>
  <div class="navbar-toggler-container full-h">
    <div
      (click)="navbarToggler()"
      class="navbar-toggler full-wh btn-effect bg-white-active"
      tabindex="0"
    >
      <div
        class="toggler-icon-container"
        [ngClass]="{ 'fade-out': isMenuOpen }"
      >
        <span class="toggler-icon"></span>
        <span class="action-text">Menu</span>
      </div>
      <span
        class="blue-cross-icon"
        [ngClass]="{ 'fade-in': isMenuOpen }"
      ></span>
    </div>
  </div>
</div>
