@import '../../sass-lib/lib.scss';

main {
    padding: 1.875rem 1.875rem 0 1.875rem;
}

.blue-line {
    width: 2rem;
    height: .33rem;
    background-color: $tta-light-blue;
    margin: 0 0 1.5rem 0;
}

h1 {
    padding-bottom: 3rem;
}

.content {
    display: grid;
    gap: 4rem;
}

h2 {
    padding-bottom: 1.5rem;
}

p {
    margin: 0;
}

img {
    margin-bottom: 0.875rem;
    border: solid 1px $tta-light-blue;
}

h3 {
    font-size: 1rem;
}

.artisan {

    img {
        width: 75vw;
    }

    .avis {
        display: flex;
    
        .stars {
            border: none;
            margin: 0;
            height: 17px;
            width: 93.36px;
            position: relative;
            top: 2px;
        }
    }

    .specialite {
        display: flex;
        align-items: center;
    }
    
    .localisation {
        display: flex;
    
        h3 {
            width: 40%;
        }

        address {
            width: 60%;
            position: relative;
            top: -1px;
            margin: 0;
        }
    }   
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 1rem;

    span {
        color: $tta-red;
    }
}

input {
    margin-bottom: 1.5rem;
    border: solid 1px $tta-light-blue;
    background-color: $tta-white;
    border-radius: 20px;
    height: 40px;
    padding: 0 1rem;
}

textarea {
    border: solid 1px $tta-light-blue;
    background-color: $tta-white;
    border-radius: 20px;
    height: 196px;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
}

.btn-submit {
    border: none;
    background-color: $tta-light-blue;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    color: #fff;
}

.lien {
    display: flex;
    align-items: center;

    div {
        a {
            text-decoration: none;
            position: relative;
            top: 1px;
        }
    }
}