<h1>Fiche artisan</h1>
<div class="artisan">
  <h2>John Doe</h2>
  <img src="" alt="artisan qui sourit" />
  <div class="profil">
    <h3 class="avis">Avis</h3>
    <img src="assets/images/etoiles-jaunes.png" alt="5 étoiles jaunes" />
    <h3 class="specialite">Spécialité</h3>
    <p>Bâtiment</p>
    <h3 class="localisation">Localisation</h3>
    <address>23 Rue Carnot, Décines-Charpieu, 69150</address>
  </div>
</div>
<section class="a-propos">
  <h2>À propos</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor,
    urna consequat porta ornare, ante felis rhoncus nisl, sit amet cursus tortor
    mi tempus dolor.
  </p>
</section>
<div class="form-container">
  <h2>Formulaire de contact</h2>
  <form action="">
    <label for="">Nom</label>
    <input type="text" />
    <label for="">Objet</label>
    <input type="text" />
    <label for="">Message</label>
    <textarea name="" id=""></textarea>
  </form>
</div>
<div>
  <h2>Site web</h2>
  <h3>Lien :</h3>
  <div><a href="">johndoe-artisan.com</a></div>
</div>
