<div class="menu-container full-h">
  <ul class="menu navbar-nav full-h">
    <li class="batiment">
      <a
        routerLink="/liste-artisans/Bâtiment"
        class="nav-link b-link btn-effect"
        >Bâtiment</a
      >
    </li>
    <li class="services">
      <a
        routerLink="/liste-artisans/Services"
        class="nav-link s-link btn-effect"
        >Services</a
      >
    </li>
    <li class="fabrication">
      <a
        routerLink="/liste-artisans/Fabrication"
        class="nav-link f-link btn-effect"
        >Fabrication</a
      >
    </li>
    <li class="alimentation">
      <a
        routerLink="/liste-artisans/Alimentation"
        class="nav-link a-link btn-effect"
        >Alimentation</a
      >
    </li>
  </ul>
</div>
