@import '../../../sass-lib/lib.scss';

.nav-link {
    padding-top: 5px;
    padding-bottom: 0;
    height: 65.19px;
}

.batiment, .services, .fabrication, .alimentation {
    position: relative;
}

.nav-link {
    padding-right: 16px !important;
    padding-left: 16px !important;

    &::before {
        position: absolute;
        right: 32px;
        bottom: 28px;
        left: 16px;
        height: 2px;
        width: 100%;
        content: "";
        background-color: $tta-dark-blue;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &:hover::before,
    &:focus::before {
        opacity: 1;
    }
}

.batiment .b-link::before { width: 63.59px; }
.services .s-link::before { width: 59.1px; }
.fabrication .f-link::before { width: 80px; }
.alimentation .a-link::before { width: 92px; }