.nav-link {
    padding-top: 5px;
    padding-bottom: 0;
    height: 65.19px;
}

.b-link {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.s-link {
    padding: 5px 16px 0 16px !important;
}

.f-link {
    padding: 5px 16px 0 16px !important;
}

.a-link {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
/*.batiment {
    padding-right: 16px;
}

.services {
    padding: 0 16px;
}

.fabrication {
    padding: 0 16px;
}

.alimentation {
    padding-left: 16px;
}*/