@import "./app/sass-lib/lib.scss";

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Light-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Light-Trial.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Regular-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Regular-Trial.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Medium-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Medium-Trial.otf")
      format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Semibold-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Semibold-Trial.otf")
      format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Bold-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Bold-Trial.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Black-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Black-Trial.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/assets/fonts/Graphik/Graphik-Super-Trial.woff")
      format("woff"),
    url("../public/assets/fonts/Graphik/Graphik-Super-Trial.otf")
      format("opentype");
  font-weight: 1000;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Graphik", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: $tta-blue;
  margin: 0;
}

p,
li,
a {
  color: $tta-dark-blue !important;
  text-decoration: none;
}
