<footer>
  <div class="footer-container">
    <div class="top-main-container">
      <div class="footer-top">
        <div class="logo-container">
          <a href="">
            <img
              src="assets/images/logo-blanc.png"
              alt="Logo du site Trouve ton artisan en blanc"
              class="logo-white"
            />
          </a>
        </div>
        <div class="conseil-regional-container">
          <p>
            Conseil régional<br />
            Auvergne-Rhône-Alpes
          </p>
        </div>
      </div>
      <div class="footer-main">
        <section class="localisation">
          <h2>Lyon</h2>
          <div class="pointeur-localisation">
            <div class="pointeur-container">
              <img
                src="assets/images/pointeur.png"
                alt="Motif d'un pointeur blanc"
              />
            </div>
            <address class="p-0 m-0">
              <a
                href="https://www.google.fr/maps/place/101+Cr+Charlemagne,+69002+Lyon/@45.7403373,4.8165224,17z/data=!3m1!4b1!4m6!3m5!1s0x47f4ebceb7217f5b:0x97dd96361cc92602!8m2!3d45.7403373!4d4.8190973!16s%2Fg%2F11c213z3kc?entry=ttu"
                target="_blank"
                rel="noopener noreferrer"
              >
                101 cours Charlemagne<br />
                CS 20033<br />
                69269 LYON CEDEX 02<br />
                France<br />
              </a>
              <p>Ouvert de 8h15 à 17h du lundi au vendredi</p>
            </address>
          </div>
        </section>
        <div class="info-tel p-0">
          <div class="img-tel-container">
            <img
              src="assets/images/telephone.png"
              alt="Motif d'un téléphone blanc"
            />
          </div>
          <address>
            <a href="tel:33426734000">+33 (0)4 26 73 40 00</a>
            <p>De 8h30 à 17h du lundi au vendredi</p>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <nav>
        <ul>
          <li><a routerLink="mentions-legales">Mentions légales</a></li>
          <li><a routerLink="donnees-personnelles">Données personnelles</a></li>
          <li>
            <a routerLink="accessibilite"
              >Accessibilité : partiellement conforme</a
            >
          </li>
          <li><a routerLink="presse">Presse</a></li>
          <li><a routerLink="marches-publics">Marchés publics</a></li>
          <li><a routerLink="venir-a-la-region">Venir à la région</a></li>
          <li><a routerLink="contacts">Contacts</a></li>
        </ul>
      </nav>
      <div class="cookies-container">
        <nav class="full-h">
          <ul class="full-h p-0 m-0">
            <li class="p-0">
              <button type="button" class="btn-cookies">
                Gestion des cookies
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="social-media-container">
    <div class="logos-container">
      <a
        href="https://www.facebook.com/RegionAuvergneRhoneAlpes/?locale=fr_FR"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="facebook-container logo-container" tabindex="0">
          <span class="icon facebook-img"></span>
        </div>
      </a>
      <a
        href="https://www.linkedin.com/company/auvergne-rhone-alpes/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="linkedin-container logo-container" tabindex="0">
          <span class="icon linkedin-img"></span>
        </div>
      </a>
      <a
        href="https://www.youtube.com/c/regionauvergnerhonealpes"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="youtube-container logo-container" tabindex="0">
          <span class="icon youtube-img"></span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/region_auvergnerhonealpes/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="instagram-container logo-container" tabindex="0">
          <span class="icon instagram-img"></span>
        </div>
      </a>
      <a
        href="https://x.com/auvergnerhalpes"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="x-container logo-container" tabindex="0">
          <span class="icon x-img"></span>
        </div>
      </a>
    </div>
  </div>
</footer>
