<main>
  <h1>Découvrez les artisans de votre région</h1>
  <section class="guide-trouver-artisan">
    <h2>Comment trouver mon artisan ?</h2>
    <div class="step-1">
      <h3>Étape 1</h3>
      <img src="" alt="Zoom sur une barre de navigation" />
      <h4>Choisissez la catégorie d'artisanat dans le menu</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        porttitor, urna consequat porta ornare, ante felis rhoncus nisl, sit
        amet cursus tortor mi tempus dolor.
      </p>
    </div>
    <div class="step-2">
      <h3>Étape 2</h3>
      <img src="" alt="curseur pointé vers le profil d'un artisan" />
      <h4>Choisissez un artisan</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        porttitor, urna consequat porta ornare, ante felis rhoncus nisl, sit
        amet cursus tortor mi tempus dolor.
      </p>
    </div>
    <div class="step-3">
      <h3>Étape 3</h3>
      <img src="" alt="Formulaire de contact" />
      <h4>Contactez l'artisan avec le formulaire de contact</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        porttitor, urna consequat porta ornare, ante felis rhoncus nisl, sit
        amet cursus tortor mi tempus dolor.
      </p>
    </div>
    <div class="step-4">
      <h3>Étape 4</h3>
      <img
        src=""
        alt="schéma d'un particulier communiquant avec un artisan avec écrit 48 heures entre les deux"
      />
      <h4>Une réponse sera apportée dans 48 heures</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        porttitor, urna consequat porta ornare, ante felis rhoncus nisl, sit
        amet cursus tortor mi tempus dolor.
      </p>
    </div>
  </section>
  <section class="podium">
    <h2>Les trois artisans du mois</h2>
    <div class="artisan-1">
      <h3>John Doe</h3>
      <img src="" alt="artisan qui sourit" />
      <div class="profil">
        <h4 class="avis">Avis</h4>
        <img src="assets/images/etoiles-jaunes.png" alt="5 étoiles jaunes" />
        <h4 class="specialite">Spécialité</h4>
        <p>Bâtiment</p>
        <h4 class="localisation">Localisation</h4>
        <address>23 Rue Carnot, Décines-Charpieu, 69150</address>
      </div>
    </div>
    <div class="artisan-2">
      <h3>Jeanne Delion</h3>
      <img src="" alt="artisane qui sourit" />
      <div class="profil">
        <h4 class="avis">Avis</h4>
        <img src="assets/images/etoiles-jaunes.png" alt="5 étoiles jaunes" />
        <h4 class="specialite">Spécialité</h4>
        <p>Services</p>
        <h4 class="localisation">Localisation</h4>
        <address>19 Rue de la Corderie, Lyon, 69009</address>
      </div>
    </div>
    <div class="artisan-3">
      <h3>Paul Dupont</h3>
      <img src="" alt="artisan qui sourit" />
      <div class="profil">
        <h4 class="avis">Avis</h4>
        <img src="assets/images/etoiles-jaunes.png" alt="5 étoiles jaunes" />
        <h4 class="specialite">Spécialité</h4>
        <p>Fabrication</p>
        <h4 class="localisation">Localisation</h4>
        <address>31 Boulevard Pasteur, Clermont-Ferrand, 63000</address>
      </div>
    </div>
  </section>
</main>
